<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.itesm.metodosnumericos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="Metodos Numericos"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PantallaSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MetodoUno"
            android:label="Crammer" />
        <activity android:name=".PrimerPantalla"
            android:label="Métodos Numéricos"
            android:textAlignment="center"/>
        <activity android:name=".MetodoDos"
            android:label="Gauss Seidel" />
        <activity android:name=".MetodoTres"
            android:label="Gauss" />
        <activity android:name=".Determinante"
            android:label="Determinante" />
        <activity android:name=".MetodoCinco"
            android:label="Gauss Jordan" />
        <activity android:name=".MetodoSeis"
            android:label="Bairstow"/>
        <activity android:name=".Resultados"
            android:label="Resultados">
        </activity>
    </application>

</manifest>